* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: #111;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 275px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

.bg-image {
  /* background*/
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(images/background.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 2%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 90px;
}

.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 16px;
  position: relative;
}

.nav-links ul li a {
  /*nav buttons color*/
  color: white;
  text-decoration: none;
  font-size: 15px;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  font-weight: normal;

  padding: 5px 10px;
  margin: 0 5px;
  position: relative;
  border-bottom: 2px solid transparent;
  transition: 0.4s;
}

.nav-links ul li:hover {
  border-bottom: 2px solid rgba(255, 60, 0, 0.7);
  font-weight: bold;
}

.products-intro {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

p {
  color: rgb(37, 36, 36);
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 20px;
}

.hero {
  display: inline-block;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 12px 34px;
  font-size: 14px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hero:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 0.9s;
}
.img-row {
  justify-content: space-between;
  padding-bottom: 50px;
  padding-top: 20px;
}

.img-row img {
  width: 40%;
  justify-content: space-between;
  border-radius: 15px;
  display: inline-block;
  box-shadow: 10px 10px 5px #ccc;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  -khtml-box-shadow: 10px 10px 5px #ccc;
}

.circuit img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  border-radius: 20px;
}
.about-the-product {
  color: rgb(37, 36, 36);
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 20px;
}
.about-the-product h1 {
  color: black;
}

.why-solar-hub {
  width: 80%;
  margin: auto;
  text-align: left;
}

h2 {
  color: black;
  text-align: center;
}

.why-solar-hub p {
  color: rgb(37, 36, 36);
  font-size: 14px;
  font-weight: 200;
  line-height: 22px;
  padding: 20px;
}

.boxbox {
  flex-basis: 31%;
  background: #d1e9d0;
  border-radius: 20px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.4s;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.1);
}

.boxbox:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
}

.power-saving p {
  text-align: left;
}

.SCH {
  width: 80%;
  margin: auto;
  text-align: left;
}

p {
  color: rgb(37, 36, 36);
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 20px;
}
h3 {
  text-align: center;
  line-height: 22px;
  padding: 20px;
}
.interface-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  display: flex;
  cursor: pointer;
  margin-left: 150px;
  margin-right: 150px;
}
.mega {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.row::after {
  content: "";
  clear: both;
}

.interface-col img {
  /* justify-content: space-between;
  align-items: center;
  padding-inline: 90px;
  justify-content: space-between; */
  width: 90%;
  display: flex;
  border-radius: 28px;
  box-shadow: 10px 10px 5px #ccc;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  -khtml-box-shadow: 10px 10px 5px #ccc;
}

.layer {
  background: transparent;
  height: 120%;
  width: 90%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.4s;
  border-radius: 28px;
}

.layer:hover {
  background: rgba(226, 0, 0, 0.7);
}

.layer p {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 18px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.4s;
  /* justify-content: space-between;
  align-items: center; */
}
.layer:hover p {
  bottom: 26%;
  opacity: 1;
}
