* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.header {
  /* background*/
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(images/background.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
nav {
  display: flex;
  padding: 2% 2%;
  justify-content: space-between;
  align-items: center;
}

.header img {
  width: 90px;
}

.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 16px;
  position: relative;
}

.nav-links ul li a {
  /*nav buttons color*/
  color: white;
  text-decoration: none;
  font-size: 15px;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  font-weight: normal;

  padding: 5px 10px;
  margin: 0 5px;
  position: relative;
  border-bottom: 2px solid transparent;
  transition: 0.4s;
}

/* .nav-links ul li::after {
  content: "";
  width: 100%;
  width: 2px;
  background: #f44336 !important;
  display: block;
  margin: auto;
  transition: 1s;
} */

/* .nav-links ul li:hover::after {
  width: 100%;
} */

.nav-links ul li:hover {
  border-bottom: 2px solid rgba(255, 60, 0, 0.7);
  font-weight: bolder;
}

.text-box {
  width: 100%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 62px;
}

.text-box p {
  margin: 10px 0 10px;
  font-size: 20px;
  font-style: normal;
  color: #fff;
}

.spartan {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 14px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.spartan:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 0.9s;
}

nav .fas {
  display: none;
}

@media (max-width: 700px) {
  .text-box h1 {
    font-size: 20px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    background: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  nav .fas {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-links ul {
    padding: 25px;
  }
}

/* deets */

.deets {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 20px;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.someinfo {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 20px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.4s;
}

h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.someinfo:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* ------product------- */
.product {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.product-col {
  flex-basis: 32%;
  border-radius: 5px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.product-col img {
  width: 100%;
  display: block;
  float: left;
}
.product a {
  font-size: 35px;
  font-weight: 600;
}
.product a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

.product a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
  transition: 2s;
}

.product a:hover {
  color: grey;
  background-color: transparent;
}

.product a:active {
  color: red;
  background-color: transparent;
}
.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.4s;
}

.layer:hover {
  background: rgba(226, 0, 0, 0.7);
}

.layer h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.4s;
}
.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}

/* --------pricing-------- */

.pricing {
  width: 80%;
  padding-top: 100px;
  margin: auto;
  text-align: center;
}

.pricing-col {
  flex-basis: 31%;
  padding-left: 20%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: center;
}

.pricing-col img {
  width: 170%;
  /* border-radius: 10px; */
  display: block;
  text-align: center;
  padding: 0px 50px 0px 0px;
  border-radius: 15px;
  box-shadow: 10px 10px 5px #ccc;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  -khtml-box-shadow: 10px 10px 5px #ccc;
}

@media (max-width: 700px) {
  .pricing {
    width: 80%;
    padding-top: 20px;
    margin: auto;
    text-align: center;
  }
  .pricing-col {
    flex-basis: 31%;
    padding-left: 3%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
  }
  .pricing-col img {
    width: 100%;
    border-radius: 10px;
  }
}
.centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.pricing-col p {
  padding: 0%;
  text-align: left;
}

.pricing-col h2 {
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}

/* -------creators------- */

.testimonials {
  width: 70%;
  margin: auto;
  padding-top: 40px;
  text-align: center;
}

.testimonial-col {
  flex-basis: 44%;
  border-radius: 20px;
  margin-bottom: 5%;
  text-align: left;
  background: #fff3f3;
  padding: 25px;
  cursor: pointer;
  /* display: flex; */
  /* display: flex-start; */
  /* display: inline-flex; */
}

.testimonial-col img {
  height: 60px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
  box-shadow: 0px 6px 5px #ccc;
  -moz-border-radius: 190px;
  -webkit-border-radius: 190px;
  border-radius: 190px;
}

.testimonial-col p {
  padding: 0;
  padding-top: 1%;
}

.testimonial-col h3 {
  margin-top: 15px;
  text-align: left;
  display: flex;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 40px 0;
}

.footer p {
  text-align: center;
  font-style: normal;
  font-weight: 400;
}

h2 {
  margin-bottom: 30px;
  margin-top: 20px;
  font-weight: 600;
}

/* .icons i {
  text-align: center;
} */
.icons li {
  cursor: pointer;
  padding: 20px 10px 0px 10px;
  justify-content: space-between;
  word-spacing: 15px;
  display: inline-block;
  align-items: center;
}
.gotop h4 {
  text-align: center;
}
.gotop ul {
  display: inline-block;
  float: right;
}

.boxbox {
  flex-basis: 35%;
  background: #fff3f3;
  border-radius: 20px;
  margin-bottom: 4%;
  padding: 30px 12px;
  box-sizing: border-box;
  transition: 0.4s;
  width: 60%;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.1);
}

.boxbox:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.botmenu {
  font-size: 15px;
  float: right;
  font-weight: 500;
  display: block;
}

.botmenu a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
  transition: 2s;
}
