* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.header {
  /* background*/
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(images/background.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
nav {
  display: flex;
  padding: 2% 2%;
  justify-content: space-between;
  align-items: center;
}

.header img {
  width: 90px;
}

.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 16px;
  position: relative;
}

.nav-links ul li a {
  /*nav buttons color*/
  color: white;
  text-decoration: none;
  font-size: 15px;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  font-weight: normal;

  padding: 5px 10px;
  margin: 0 5px;
  position: relative;
  border-bottom: 2px solid transparent;
  transition: 0.4s;
}

.nav-links ul li:hover {
  border-bottom: 2px solid rgba(255, 60, 0, 0.7);
  font-weight: bolder;
}

.text-box {
  width: 100%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 62px;
}

/* Style inputs with type="text", select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 28px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: rgb(126, 126, 230);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 28px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
